/*Home page css*/

.home-page h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .img1{
  float: right;
  padding: 2px 2px 2px 2px;
}

.home-page .content-1{
  float: left;
  padding: 5px 5px 5px 5px;
}

.home-page .block-1{
  background-color: #d0ebc2;
  border-radius: 2px;
}

.home-page .img2{
  float: left;
  padding: 2px 2px 2px 2px;
}

.home-page .content-2{
  padding: 1px 5px 5px 5px;
}

.home-page .block-2 i{
  color: orange;
  margin-right: 5px;
}

.home-page .block-2{
  background-color: #ffe5e1;
}

/*Footer css*/

.footer{
  background-color: #dfe3e3;
  height: 50px;
}

.footer h6{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

/*Registration Form css*/

.registerLibrarianStudent-form {
  width: 800px;
  height: 800px;
  margin-top: 110px;
}

.registerLibrarianStudent{
  overflow-x: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerLibrarianStudent-form .txtfname,.txtlname,.txtalternatename,.txtalternatecontactno,.txtusername,.txtpwd{
  border: 1px solid #b5b3b3;
  height: 44px;
  width: 373px;
  border-radius: 5px;
}

.registerLibrarianStudent-form .txtaddress{
  border: 1px solid #b5b3b3;
  border-radius: 5px;
}

.dropdownCategory,.dropdownSubCategory{
  border: 1px solid #b5b3b3;
  height: 44px;
  width: 371px;
  border-radius: 5px;
}

.registerLibrarianStudent-form .txtemail, .txtcontactno,.txtdob{
  border: 1px solid #b5b3b3;
  height: 44px;
  width: 240px;
  border-radius: 5px;
}

/*Login Form css*/

.login{
  overflow-x: hidden;
  width: 100%;
}

.login-form{
  width: 410px;
  height: 500px;
  margin-top: 110px;
}

.login .login-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Category and SubCategory Form css*/

.addCategory, .addSubCategory{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.addCategory .addcategory-form .card,.addSubCategory .addsubcategory-form .card{
  margin-top: -70px;
}

.addCategory .addcategory-form .txtcategoryname, .addSubCategory .addsubcategory-form .txtsubcategoryname{
  width: 390px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  height: 45px;
}

.addCategory .addcategory-form .txtcategorydescription, .addSubCategory .addsubcategory-form .txtsubcategorydescription{
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.addSubCategory .addsubcategory-form .ddlcategory{
  width: 390px;
  height: 42px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

/*Manage all module css*/
.managecategory, .managesubcategory,.managebook, .managedeletedmember, .manageissuebook, .studentdashboard , .facultydashboard{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/*Add Settings css*/

.addsettigs{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  /* padding: 67px 50px 54px 186px; */
}

.addsettings .addsettigs-form .card-body .txtsettingspaneltyamount, .txtstudentbooklimit , .txtfacultybooklimit, .txtrenewdaylimit{
  height: 40px;
  width: 372px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/*breadcrumb css*/

.breadcrumb-div .breadcrumbimg{
  border: 1px solid white;
  border-radius: 5px;
}

.breadcrumb-div {
  position: relative;
  text-align: center;
  color: white;
}

.breadcrumb-div .bottom-left{
  position: absolute;
  top: 8px;
  left: 16px;
}

/*Profile module css*/
.UpdateProfile{
  margin-top: 50px;
}

.UpdateProfile .UpdateProfile-form .txtpfname, .txtplname, .txtpemail, .txtpcontactno{
  width: 267px;
  border: 1px solid #b5b3b3;
  border-radius: 5px;
  height: 40px;
}

.UpdateProfile .UpdateProfile-form .txtpaddress{
  border: 1px solid #b5b3b3;
  border-radius: 5px;
}

/* Extra large devices (large desktops, 1300px and up) */
@media (max-width: 1299px) { 
  .breadcrumb-div .breadcrumbimg {
      width: 99%;
  }

  .home-page .img1, .img2{
    height: 300px;
    width: 500px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) { 
  .breadcrumb-div .breadcrumbimg {
      width: 99%;
  }

  .home-page .img1, .img2{
    height: 280px;
    width: 460px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) { 
  .breadcrumb-div .breadcrumbimg {
      width: 99%;
  }

  .home-page .img1, .img2{
    height: 180px;
    width: 350px;
  }

  .home-page .content-1, .content-2{
    font-size: 13px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .breadcrumb-div .breadcrumbimg{
    width: 99%;
  }
}

@media (max-width: 576px) { 
  .breadcrumb-div .breadcrumbimg{
    width: 99%;
  }
}