/*Registration Form css*/

.registerLibrarianStudent-form {
  width: 800px;
  height: 800px;
  margin-top: 110px;
}

.registerLibrarianStudent{
  overflow-x: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerLibrarianStudent-form .txtfname,.txtlname,.txtalternatename,.txtalternatecontactno,.txtusername,.txtpwd{
  border: 1px solid #b5b3b3;
  height: 44px;
  width: 373px;
  border-radius: 5px;
}

.registerLibrarianStudent-form .txtaddress{
  border: 1px solid #b5b3b3;
  border-radius: 5px;
}

.registerLibrarianStudent-form .txtemail, .txtcontactno,.txtdob{
  border: 1px solid #b5b3b3;
  height: 44px;
  width: 240px;
  border-radius: 5px;
}

/*Login Form css*/

.login{
  overflow-x: hidden;
  width: 100%;
}

.login-form{
  width: 410px;
  height: 500px;
  margin-top: 110px;
}

.login .login-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Category and SubCategory Form css*/

.addCategory, .addSubCategory{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.addCategory .addcategory-form .card,.addSubCategory .addsubcategory-form .card{
  margin-top: -70px;
}

.addCategory .addcategory-form .txtcategoryname, .addSubCategory .addsubcategory-form .txtsubcategoryname{
  width: 390px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  height: 45px;
}

.addCategory .addcategory-form .txtcategorydescription, .addSubCategory .addsubcategory-form .txtsubcategorydescription{
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.addSubCategory .addsubcategory-form .ddlcategory{
  width: 390px;
  height: 42px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.managecategory, .managesubcategory {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/*breadcrumb css*/

.breadcrumb-div .breadcrumbimg{
  border: 1px solid white;
  border-radius: 5px;
}

.breadcrumb-div {
  position: relative;
  text-align: center;
  color: white;
}

.breadcrumb-div .bottom-left{
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Extra large devices (large desktops, 1300px and up) */
@media (max-width: 1299px) { 
  .breadcrumb-div .breadcrumbimg {
      width: 99%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) { 
  .breadcrumb-div .breadcrumbimg {
      width: 99%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) { 
  .breadcrumb-div .breadcrumbimg {
      width: 99%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .breadcrumb-div .breadcrumbimg{
    width: 99%;
  }
}

@media (max-width: 576px) { 
  .breadcrumb-div .breadcrumbimg{
    width: 99%;
  }
}