.registerLibrarianStudent-form {
  width: 800px;
  height: 800px;
  margin-top: 110px;
}

.registerLibrarianStudent{
  overflow-x: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerLibrarianStudent-form .txtfname,.txtlname,.txtalternatename,.txtalternatecontactno,.txtusername,.txtpwd{
  border: 1px solid #b5b3b3;
  height: 44px;
  width: 373px;
  border-radius: 5px;
}

.registerLibrarianStudent-form .txtaddress{
  border: 1px solid #b5b3b3;
  border-radius: 5px;
}

.registerLibrarianStudent-form .txtemail, .txtcontactno,.txtdob{
  border: 1px solid #b5b3b3;
  height: 44px;
  width: 240px;
  border-radius: 5px;
}

.login{
  overflow-x: hidden;
  width: 100%;
}

.login-form{
  width: 410px;
  height: 500px;
  margin-top: 110px;
}
